/* Import Bengali, Arabic and English Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@300;400;500;600;700&display=swap');

/* tailwind css imports */
@import "tailwindcss";

@config "../tailwind.config.js";


/* Global Font - Sans font for all */
* {
  @apply font-bengali;
}

/* Bengali text - Auto-detect and apply Bengali font */
.bengali,
[lang="bn"] {
  @apply font-bengali;
}
